- if message.persisted?
  .center
    = time_ago_in_words(message.created_at)
    ago
  .message.callout{id: "message_#{message.id}", class: message_background(message)}
    - unless message_author?(message)
      %span.user= message.user.email
      %br/
    = message.content
