.top-bar {
  a {
    background: $topbar-background !important;
    color: #ffffff !important;
    font-size: 130%;
    &:hover {
      color: #bfbfbf !important;
    }
  }
}

.message.callout {
  width: 90%;
  background-color: #f2f4b5;
  &.new_message {
    background-color: #e1f7ef;
  }
  &.author {
    background-color: #b9c6fa;
    margin-left: 10%;
  }
  .user {
    background-color: white;
    padding: 3px;
  }
}

.center {
  text-align: center;
}
