.top-bar {
  li > a {
    background: $topbar-background !important;
    color: #666;
  }
}

.callout {
  &.message {
    background-color: #fbf6ec;
  }
  &.new_message {
    background-color: #e1f7ef !important;
  }
}
